<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <!--  <link rel="manifest" href="../site.webmanifest">-->
  <link rel="apple-touch-icon" href="../icon.png">

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/index.css">

  <!--Fonts-->
  <link rel="stylesheet" href="https://use.typekit.net/vba4rwj.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
<header class="header">
  <img src="img/main_icon.svg" alt="">
  <nav class="header--nav">
    <ul class="nav__ul">
      <li class="nav__li"><a href="">Work</a></li>
      <li class="nav__li"><a href="">About</a></li>
      <li class="nav__li"><a href="">Contact</a></li>
      <li class="nav__li"><a href="">Other</a></li>
    </ul>
  </nav>
</header>
<div class="content">
  <div class="content--header">
    <div class="content--title">
      <p>I’m Arnau Ros, a graphic designer & content creator based in Barcelona.
        Available for freelance & collaborations.</p>
    </div>
    <img class="content--image" src="../img/eagle.png" alt="">
  </div>
  <div class="content--projects">
    <div class="projects--title">Projects</div>
    <hr id="horizontal--row">
    <div class="projects__hero--items">
      <div class="projects__hero--item">
        <div class="hero--title">01 Example</div>
        <img src="" alt="" class="hero--image">
      </div>
      <div class="projects__hero--item">
        <div class="hero--title">02 Example</div>
        <img src="" alt="" class="hero--image">
      </div>
      <div class="projects__hero--item">
        <div class="hero--title">03 Example</div>
        <img src="" alt="" class="hero--image">
      </div>
      <div class="projects__hero--item">
        <div class="hero--title">04 Example</div>
        <img src="" alt="" class="hero--image">
      </div>
    </div>
  </div>
</div>
<!--<script src="../js/vendor/modernizr-3.11.2.min.js"></script>-->
<!--<script src="../js/plugins.js"></script>-->
<!--<script src="../js/main.js"></script>-->

<script>
  window.ga = function () {
    ga.q.push(arguments)
  };
  ga.q = [];
  ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('set', 'transport', 'beacon');
  ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
