<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <!--  <link rel="manifest" href="../site.webmanifest">-->
  <link rel="apple-touch-icon" href="../icon.png">

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/index.css">

  <!--Fonts-->
  <link rel="stylesheet" href="https://use.typekit.net/vba4rwj.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
<header class="header">
  <img src="img/main_icon.svg" alt="">
  <nav class="header--nav">
    <ul class="nav__ul">
      <li class="nav__li"><a href="">Work</a></li>
      <li class="nav__li"><a href="">About</a></li>
      <li class="nav__li"><a href="">Contact</a></li>
      <li class="nav__li"><a href="">Other</a></li>
    </ul>
  </nav>
</header>
<div class="content">
  <div class="content--header">
    <div class="content--description">
      <p>I’m Arnau Ros, a graphic designer & content creator based in Barcelona. <br>
        Available for freelance & collaborations.</p>
    </div>
    <img class="content--image" src="../img/eagle.png" alt="">
  </div>
  <div class="content--projects">
    <div class="content--title hr">Projects</div>
    <div class="hero--items">
      <div class="projects__hero--item">
        <div class="hero--title">01 Example</div>
        <img src="../img/example1.png" alt="" class="hero--image">
      </div>
      <div class="projects__hero--item">
        <div class="hero--title">02 Example</div>
        <img src="../img/example2.png" alt="" class="hero--image">
      </div>
      <div class="projects__hero--item">
        <div class="hero--title">03 Example</div>
        <img src="../img/example3.png" alt="" class="hero--image">
      </div>
      <a href=""><img src="../svg/add_more_projects.svg" alt=""></a>
    </div>
  </div>
  <div class="content--creation">
    <div class="content--title hr">Content Creation</div>
    <div class="creation--content">
      <div class="creation--items">
        <div class="hero--items">
          <div class="creation--description">
            <p>
              Lorem ipsum YouTube dolor sit amet, consectetur adipiscing elit. A nisi, accumsan, ornare donec risus
              pharetra mattis in. YouTube elit. A nisi, accumsan, ornare donec risus pharetra mattis in. YouTube elit. A
              nisi, accumsan, ornare donec risus pharetra mattis in.
            </p>
            <div class="creation--contact">
              <a href="">Get in contact about a sponsorship <span><img src="../svg/curly_down_arrow.svg" alt=""></span></a>
            </div>
          </div>
          <div class="creation--video">
            <iframe src="https://www.youtube.com/embed/mTAupMv-3t8"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content--about">
    <div class="content--title hr">About Me</div>
    <div class="about__hero--items">
      <div class="about__hero--item">
        <div class="about__hero--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu nullam augue
          dolor libero at in. Egestas in elit vitae tincidunt morbi egestas nec massa. Pretium, placerat quis sem
          gravida vel quam nisl in semper. Platea enim nunc aliquam volutpat, ut sed morbi. Sit leo aliquam at amet, eu
          dictumst accumsan eu, quis. Nam ac mattis adipiscing euismod arcu ac laoreet vitae at. Nibh etiam dictumst
          nibh ut. Vitae massa rhoncus, et massa. Diam fermentum malesuada scelerisque orci massa.
        </div>
      </div>
      <div class="about__hero--item">
        <div class="about__hero--title">Your one stop shop for:</div>
        <ul class="about__ul">
          <li class="about__li">
            <div class="about__li--title"><span>①</span>Branding/Logo</div>
            <div class="about__li--description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi sed pulvinar rutrum tempor. Etiam duis massa
              elementum, etiam cras tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi sed pulvinar
              rutrum tempor. Etiam duis massa elem Starting at € 2,450
            </div>
          </li>
          <li class="about__li">
            <div class="about__li--title"><span>②</span>Packaging</div>
            <div class="about__li--description"></div>
          </li>
          <li class="about__li">
            <div class="about__li--title"><span>③</span>Websites</div>
            <div class="about__li--description"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content--clients">
    <div class="content--title hr">What Clients Say</div>
    <div class="clients--slider">
      <button class="clients_button--left"><img src="../svg/left_button.svg" alt=""></button>
      <div class="client--item">
        <div class="client--text">
          “I rehired Arnau to do some additional design work for my private label brand. Again,
          he was creative and efficient in bringing my ideas to fruition. Thanks Arnau”
        </div>
        <div class="client--name"><span>Ronald Weasley</span><span>CEO</span></div>
      </div>
      <div class="client--item" style="display: none;"></div>
      <div class="client--item" style="display: none;"></div>
      <button class="clients_button--right"><img src="../svg/right_button.svg" alt=""></button>
    </div>
  </div>
  <div class="content--hello">
    <div class="content--title hr">Say Hello</div>
    <div class="hello--items">
      <div class="hello--description">
        <p>
          Looking to start a new project or just want to say hi? Send me an email and I’ll
          do my best to reply within 24 hrs!
        </p>
        <p>
          If contact forms aren’t your thing... send me an email at hello@arnau.design
        </p>
      </div>
      <div class="hello--form__wrapper">
        <form class="hello--form" action="" method="POST">
          <div class="field__group">
            <div class="hello--form__field">
              <span class="hello--form--span" id="hello--form__name">Name</span>
              <div class="fields">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
              </div>
            </div>
          </div>
          <div class="field__group">
            <div class="hello--form__field">
              <span class="hello--form--span">Inquiry</span>
              <div class="fields">
                <select name="Inquiry" id="">
                  <option value="Collab/Client">Collab/Client</option>
                </select>
              </div>
            </div>
            <div class="hello--form__field">
              <span class="hello--form--span">Email</span>
              <div class="fields">
                <input type="email" placeholder="hello@arnau.design">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="../js/vendor/modernizr-3.11.2.min.js"></script>
<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>

<script>
  window.ga = function () {
    ga.q.push(arguments)
  };
  ga.q = [];
  ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('set', 'transport', 'beacon');
  ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
